extends layout

block content
	button#add-task Add task

	#tasks-container

	#info-container
	
	script(src="socket.io/socket.io.js")
	script(src="/javascripts/tasks.js")
	//- script(src="/socket.io-client/dist/socket.io.js")

